#photo {
  margin: 1em;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#gallery #ww {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2em;
}


.gallery-item {
  align: center;
	height: 500px;
	overflow: hidden;
}

.gallery-item img {
  text-align: center;
}